html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

/* Site Header */
.site-header {
    display: flex;
    justify-content: center;
    padding: 2rem 0;
}

img {
    max-width: 100%;    /* Hace las imágenes autoajustables RWD */
}

/* Main Navigation */
.navigation {
    background-color: #05BAE6;
}
.navigation ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style: none;
    margin: 0 auto;
    max-width: 800px;
    padding: 0;
}
.navigation ul li {
    padding: 1rem 0;
    text-align: center;
}
.navigation ul li a {
    color: white;
    text-decoration: none;
}
@media screen and ( min-width: 768px ) {
    .navigation ul {
        flex-direction: row;
    }
}

/* Main Container */
.container {
    display: flex;
    flex-direction: column;
}
.sidebar {
    background-color: #E5E5E5;
    padding: 2rem;
}
.sidebar h2 {
    margin: 0;
}
.sidebar-left {
    order: 3;
}
.sidebar-right {
    order: 2;
}
@media screen and ( min-width: 768px ) {
    .container {
        flex-direction: row;
    }
    .sidebar {
        flex: 0 0 20%;
    }
    .sidebar-left {
        order: -1;
    }
    .sidebar-right {
        order: 2;
    }
}

.main-content {
    margin: 0 auto;
    max-width: 90%;
    padding-bottom: 2rem;
}
@media screen and ( min-width: 768px ) {
    .main-content {
        max-width: 40%;
    }
}
/* Site Footer */
.site-footer {
    background-color: #DB008D;
    color: white;
    text-align: center;
}
